#conteudo {
    width: 100%;
    float: right;
  }
  
  #img_borda {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
  } 
  
  figure figcaption {
    border: 1px border rgb(144, 202, 138);
    text-align: center;
  }
  
  .centro {
    text-align: center;
  }
  
  #video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #FFFFFF;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }